body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(253, 252, 249);
  
  }


header{
    padding: 35px;
    background-color: rgb(80, 78, 78);
    margin-bottom: 20px;
}
header nav ul li  {display: inline;
      height: 30px;
    line-height: 30px; 
    padding: 37px;
    /* margin-top: 25px; */
    color: rgb(114, 119, 121);
    position: relative;

}
header nav ul li a{
    color: antiquewhite;
    text-decoration: none;
}


ul li{
  position: relative;
bottom: 25px; 
margin-left: 30px;
}


section:first-child article:first-child img {
     /* width: 1000px;
    display: block;
    margin-left: 175px;
     margin-right: 150px; 
    margin-bottom: 30px;  */
    

width: 960px;  
    display: block;
    margin-left: auto;
    margin-right: auto;  
    margin-bottom: 30px;

}
section:first-child  article:nth-child(2)  
{
    display: block;
    margin-left: auto;
    margin-right: auto;
width: 970px; 
text-align: center;
margin-bottom: 30px;
}

/* section:first-child article:last-child {
  
  position: relative;
  
  left: 210px;





margin-bottom: 30px;






} */
section:last-child {
    display: block;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}

section:last-child article:first-child {
    display: block;
    float: left;
    width: 450px;
padding: left 100px; ;
}
section:last-child article:last-child {
        
    float:right;
    width: 390px;
    padding-right: 100px;
    overflow-x: auto;
    height: 400px;
    }

 button:hover {
    display: inline-block;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 5px;
    max-height: 5cm;
    cursor: pointer;
    transition:350ms;
    border: radius 5px;
    font-size: 14px;}



footer{
height: 150px;
    margin-top : 500px;
  line-height : 50px;
  padding:  20px;
    background-color: gray;
    color:#4c5053;
}

h2{
  font-weight: bolder;
}